{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="row">
        {% for article in articles %}
        <div class="col-sm-6" style=" ">
            <div class="card border-primary mb-3" style="max-width: 26rem;">
                <div class="card-header">{{ article.title }}</div>
                <div class="card-body">
                    <div class="metadata">Ecrit le {{ article.createAt | date('d/m/Y') }} a {{ article.createAt | date('H:i') }}</div>
                    <div class="content">
                        <img src="{{article.image}}" alt="" style=" width: -moz-available;">
                        <p>{{ article.content }}</p>
                        <a href="{{ path('blog_show', {id: article.id}) }}" class="btn btn-primary">Lire la suite</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    

    <!--  <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 10/05/2023 a 10H00 dans la categorie Politique</div>
            <div class="content">
                <img src="https://via.placeholder.com/350x150" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, ea quasi molestiae non adipisci optio!</p>
                <p>Quidem voluptatum quos adipisci voluptatibus, illo nulla quia natus provident, beatae veniam excepturi? Neque, debitis!</p>
                <a href="" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 10/05/2023 a 10H00 dans la categorie Politique</div>
            <div class="content">
                <img src="https://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo molestiae quasi repellendus voluptas, nostrum numquam?</p>
                <p>Tempora consequuntur inventore adipisci. Ab labore adipisci quia incidunt autem delectus eveniet, sed fugiat hic.</p>
                <a href="" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 10/05/2023 a 10H00 dans la categorie Politique</div>
            <div class="content">
                <img src="https://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maiores, doloremque dignissimos repellat earum sint!</p>
                <p>Vel assumenda ducimus at facilis nostrum perspiciatis cum repellendus natus iste! Quasi expedita suscipit illo?</p>
                <a href="" class="btn btn-primary">Lire la suite</a>
            </div>
        </article> -->

{% endblock %}
